
.rtl {
  direction:rtl;
  text-align: right;
}


.auth-container{
  max-width:  60%;
  padding: 40px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

.navigation-link{
  text-decoration: none;
  color: blue;
  padding: 20px;
}

.footer{
  bottom: 0px;
  position: absolute;
}

.setting-item-title{
  padding: 5px;
  font-weight: 700;
}

.setting-item-text{
  padding: 5px;

}
.setting-item-icon{
  margin: 5px;

}

.error-message{
  color: red;
}

.control-container{
  margin: 5px;
}