
.rtl {
  direction:rtl;
  text-align: right;
}

.ltr {
  direction:ltr;
}


.auth-container{
  max-width:  60%;
  padding: 40px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

.navigation-link{
  text-decoration: none;
  color: blue;
  padding: 20px;
}

.footer{
  margin:0;
  bottom: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.setting-item-title{
  padding: 5px;
  font-weight: 700;
}

.setting-item-text{
  padding: 5px;

}
.setting-item-icon{
  margin: 5px;

}

.error-message{
  color: red;
}

.control-container{
  margin: 5px;
}

.room-container{
  border-style: solid;
  border-width: 1px;
  border-color: royalblue;

  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 20px;
}

.room-container:hover{
  background: linear-gradient(0deg, rgb(188, 188, 240) 0%, rgb(255, 255, 255) 50%, rgba(188, 188, 240) 100%);
}

.room-container div{
  padding: 10px;
}

.right-banner{
  padding: 0;
  height: 100%;
}

.low-urgency{
  background-color: green;
}

.medium-urgency{
  background-color: yellow;
}

.high-urgency{
  background-color: red;
}

.pop-up{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.pop-up-content{
  min-width: 50%;
  margin: auto;
  background-color:  rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.chore-container{
  border-style: solid;
  border-width: 1px;
  border-color: royalblue;

  margin: 2px;
  display: grid;
  grid-template-columns: 1fr 40px 20px;
}

.chore-container div{
  padding: 10px;
}

.card-container{
  border-style: solid;
  border-width: 1px;
  border-color: royalblue;

  margin: 2px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.landing-page-container{
  background-color: #dceff1 ;
}

